.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: white;
}

.marvelImg {
    width: 90%;
    height: 50%;
}

#caption {
    font-size: 30px;
}

#profileImg {
    border-radius: 50%;
    width: 90px;
}

a {
    color: #0f65ef;
    font-weight: bold;
    font-size: 18px;
}

#nat {
    color: grey;
    font-size:20px;
}

.result {
   text-align:center;
}

button {
    margin-top: 50px;
    color: white;
    background-color: black;
    font-size: 35px;
    border-radius: 18px;
    border:10px groove black ;
    font-family: monospace;
}

body{

    margin-left:20px;
}
